TELEGRAM_BOT_TOKEN=123456789:replace_with_botfather_token
ALLOWED_TELEGRAM_USER_IDS=123456789
PROJECTS_ROOT=C:\Users\aryo deva\2021
OPENCODE_COMMAND=opencode.cmd
OPENCODE_TIMEOUT_MS=600000
PROGRESS_INTERVAL_MS=30000
MAX_OUTPUT_LENGTH=3500
